@media (max-width: 1199px) {
  .nav-menu ul li {
    margin-right: 12px;
  }
}
@media (max-width: 991px) {
  .nav-menu {
    margin: 15px 0;
    border-bottom: solid 1px #999999;
  }
  .border-header {
    border-bottom: inherit;
  }
  #slider-baner {
    padding-top: 254px;
  }
  .banner-home .owl-carousel .owl-item .item h2 {
    font-size: 80px;
  }
  .banner-home .owl-carousel .owl-item .item .text-slider {
    font-size: 142px;
    margin-top: -28px;
  }
  .block2 {
    padding-top: 407px;
    padding-bottom: 40px;
  }
  .block2 h1 {
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 40px;
  }
  .box2_block {
    margin-bottom: 40px;
  }
  .box3_block .icon_box3 i {
    padding-top: 71px;
    padding-left: 142px;
    font-size: 46px;
  }
  .box3_block .title_box3 {
    font-size: 48px;
    padding-top: 17px;
  }
  .box3_block .text_box3 {
    padding-top: 26px;
  }
  .block5 {
    margin-bottom: 90px;
  }
  #block6 h2 {
    padding-top: 74px;
  }
  #block6 .text-box6 {
    padding-bottom: 83px;
  }
  #slider-baner6 img {
    margin-left: 0px;
  }
  .block6 {
    margin-bottom: 80px;
  }
  #block7 .text_box7 {
    padding-top: 37px;
  }
  #block7 .box7_block7 .info_box7 {
    width: 350px;
  }
  .box7_block7 {
    padding-bottom: 20px;
  }
  #block7 .col-xl-4:last-child .box7_block7 {
    margin-left: 190px;
  }
  #block_8 {
    margin-top: 62px;
  }
  #block_8 .title_box8 {
    padding-top: 54px;
  }
  #block_8 .text_box7 {
    padding-top: 25px;
  }
  #block_8 .send_box7 {
    padding-top: 59px;
    padding-left: 33px;
  }
  #block_8 .send_box7 .button_box7 {
    margin-bottom: 30px;
  }
  #footer .network_footer .img1_footer {
    padding-left: 296px;
  }
  #footer img {
    padding-top: 29px;
  }
  #footer .text_footer {
    margin-top: 31px;
  }
  .img_galery .hover_galery {
    padding: 60px 30px 60px 30px;
  }
  .galery_wrapper {
    width: 100%;
  }
  .img_galery1 {
    width: 100%;
    margin-left: 235px;
  }
  .btn_galery {
    margin-top: 12px;
  }
  .title_galery {
    font-size: 24px;
    padding-bottom: 14px;
  }
  @media (max-width: 776px) {
    .logo img {
      display: block;
      margin: 0 auto;
    }
    .nav-menu .navbar-toggler,
    .nav-menu .navbar-brand {
      display: block;
    }
    .nav-menu {
      margin: 15px 0px;
      border-bottom: inherit;
      background: rgb(255, 255, 255);
      padding: 8px;
    }
    .nav-menu .responsive_menu {
      display: block;
      justify-content: space-between;
    }
    .nav-menu .navbar-expand-md .navbar-brand {
      color: #333;
    }
    .nav-menu .navbar-expand-md .navbar-toggler {
      outline: none;
    }
    .nav-menu .navbar-expand-md .navbar-toggler i {
      transition: 0.3s;
    }
    .nav-menu .navbar-expand-md .navbar-toggler i:hover {
      color: lightblue;
    }
    .nav-menu ul li a {
      color: #8f8a8a;
      font-weight: 700;
      border-bottom: inherit;
      padding: 10px;
    }
    .nav-menu ul li.active a {
      font-weight: 700;
    }
    .nav-menu ul li.active a,
    .nav-menu ul li a:hover {
      text-decoration: none;
      padding-bottom: 0;
      border-bottom: inherit;
      padding: 10px;
    }
    .nav-menu ul li {
      margin-right: 12px;
      border-bottom: solid 0.5px #ccc;
    }
    .box3_block .icon_box3 i {
      padding-top: 64px;
      padding-left: 232px;
    }
    .block4 .nav-tabs li {
      margin-bottom: 10px;
    }
    .img_galery1 {
      margin-left: 103px;
    }
    .img_galery2 {
      display: block;
    }
    .img_galery3 {
      display: block;
    }
    .block5 .box5_block1 {
      height: 250px;
    }
    .block5 .title_box5 {
      padding-top: 50px;
    }
    .block5 a.btn_box5 {
      padding-left: 203px;
    }
    #slider-baner6 img {
      min-width: 0px;
    }
    .box7_block7 {
      margin-left: 93px;
    }
    #block7 .col-xl-4:last-child .box7_block7 {
      margin-left: 93px;
    }
    #block_8 .send_box7 .button_box7 {
      width: 460px;
      margin-left: 0px;
      margin-top: 10px;
    }
    #footer .network_footer .img1_footer {
      padding-left: 205px;
    }
  }
  @media (max-width: 500px) {
    .nav-menu .navbar-brand,
    .nav-menu .navbar-toggler {
      display: inherit;
    }
    .banner-home .owl-carousel .owl-item .item h2 {
      font-size: 40px;
    }
    .banner-home .owl-carousel .owl-item .item .text-slider {
      font-size: 78px;
      margin-top: -21px;
    }
    .block2 {
      padding-top: 230px;
      padding-bottom: 40px;
    }
    .block2 h1 {
      font-size: 18px;
      line-height: 26px;
    }
    /*My 500*700px*/
    .box3_block .title_box3 {
      font-size: 46px;
      padding-top: 21px;
    }
    .box3_block .icon_box3 i {
      padding-top: 23px;
      padding-left: 209px;
      font-size: 44px;
    }
    .box3_block .text_box3 {
      padding-top: 24px;
    }
    .box3_block .text_box3:last-child {
      padding-bottom: 20px;
    }
    .block4 {
      padding: 68px 0px;
    }
    .block4 h2 {
      margin-bottom: 25px;
    }
    .block4 .text_block4 {
      margin-bottom: 49px;
    }
    .block4 .nav-tabs li {
      margin-bottom: 10px;
      margin-left: 22px;
    }
    .block4 .nav-tabs {
      margin-bottom: 33px;
    }
    .img_galery1 {
      width: 100%;
      margin-left: 0px;
    }
    #block_8 .send_box7 input {
      width: 440px;
    }
    #block_8 .send_box7 .button_box7 {
      width: 440px;
    }
    #block_8 #form7 {
      max-width: 440px;
    }
    .galery_wrapper {
      width: 100%;
    }
    #block7 .col-xl-4:last-child .box7_block7 {
      margin-left: 62px;
    }
    .img_galery2,
    .img_galery3 {
      display: block;
    }
    .block5 .title_box5 {
      font-size: 29px;
      padding-top: 60px;
    }
    .block5 .text_box5 {
      font-size: 21px;
      padding-top: 31px;
    }
    .block5 a.btn_box5 {
      padding-left: 178px;
    }
    .block5 {
      margin-bottom: 40px;
    }
    #block6 h2 {
      padding-top: 52px;
      margin-bottom: 33px;
    }
    #block6 .text-box6 {
      padding-bottom: 39px;
    }
    #slider-baner6 img {
      min-width: 100%;
      margin-left: 0px;
      margin-bottom: 20px;
    }
    .block6 {
      margin-bottom: 76px;
    }
    #block7 .text_box7 {
      padding-top: 17px;
    }
    .box7_block7 {
      margin-bottom: 20px;
      margin-left: 61px;
    }
    #block7 .box7_block7 .info_box7 .network_box7 {
      margin-left: 24px;
    }
    #block7 .box7_block7 .info_box7 {
      width: 350px;
    }
    #block_8 {
      margin-top: 55px;
    }
    #block_8 .title_box8 {
      font-size: 39px;
      padding-top: 43px;
    }
    #block_8 .text_box7 {
      font-size: 18px;
      padding-top: 34px;
    }
    #block_8 .send_box7 {
      padding-top: 47px;
      padding-left: 6px;
    }
    #block_8 .send_box7 .button_box7 {
      width: 460px;
      margin-left: 0px;
      margin-top: 20px;
    }
  }
  @media (max-width: 480px) {
    #block_8 .send_box7 .button_box7 {
      width: 440px;
    }
    #footer .network_footer .img1_footer {
      padding-left: 171px;
    }
  }
}
