* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  font-size: 14px;
  color: black;
  font-family: "vidaloka_regular";
}
/*header*/
.header {
  z-index: 2;
  position: relative;
  padding-top: 51px;
}
.nav-menu {
  position: relative;
  top: 2px;
}
.nav-menu ul li {
  margin-right: 44px;
}
.nav-menu ul li:last-child {
  margin-right: 0;
}
.nav-menu ul li a {
  transition: 0.3s;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}
.nav-menu ul li.active a,
.nav-menu ul li a:hover {
  text-decoration: none;
  padding-bottom: 35px;
  color: #ffff33;
  border-bottom: solid 2px #ffff33;
}
.border-header {
  border-bottom: solid 1px #999999;
}
/*header*/
.nav-menu .navbar-toggler,
.nav-menu .navbar-brand {
  display: none;
}
/*banner-home*/
.banner-home {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: url(../img/baner-home.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
#slider-baner {
  padding-top: 270px;
}
.btn-search {
  font-size: 0;
  background: url(../img/search.png) no-repeat;
  width: 37px;
  height: 37px;
  border: inherit;
  outline: none;
}
.pole-search {
  display: none;
  outline: none;
}
.form-search {
  position: relative;
  padding-left: 15px;
  padding-top: 8px;
}
.form-search:before {
  content: "";
  position: absolute;
  height: 30px;
  background: #999999;
  width: 1px;
  left: 0;
  top: 0;
}
.banner-home .owl-carousel .item h2 {
  text-align: center;
  color: white;
  font-size: 110px;
  font-family: "back_to_black_demoregular";
  line-height: normal;
}
.banner-home .owl-carousel .item .text-slider {
  text-align: center;
  color: white;
  font-size: 280px;
  font-family: "back_to_black_demoregular";
  margin-top: -72px;
}
#slider-baner.owl-carousel .owl-nav .owl-prev {
  background: url(../img/arrow_prev.png) no-repeat;
  width: 15px;
  height: 20px;
  outline: none;
  position: absolute;
  bottom: 320px;
  left: -43px;
}
#slider-baner.owl-carousel .owl-nav .owl-next {
  background: url(../img/arrow_next.png) no-repeat;
  width: 15px;
  height: 20px;
  outline: none;
  position: absolute;
  bottom: 320px;
  right: -43px;
}
#slider-baner.owl-carousel .owl-nav .owl-prev,
#slider-baner.owl-carousel .owl-nav .owl-next {
  opacity: 0.6;
}
/*ffff33*/
/*banner-home*/

/*block-2*/
.block2 {
  padding-top: 900px;
  padding-bottom: 100px;
}
.block2 h1 {
  font-size: 36px;
  color: #333;
  line-height: 49px;
  font-family: "vidaloka_regular";
  text-align: center;
  margin-bottom: 100px;
}
.block2 h1 a {
  color: #ffff33;
  transition: 0.3s;
  text-decoration: underline;
}
.block2 h1 a:hover {
  text-decoration: none;
}
.box2_block {
  display: flex;
  margin-bottom: 70px;
}
.icon_box2 {
  margin-right: 32px;
}
.icon_box2 i {
  font-size: 20px;
  color: #cccccc;
  transition: 0.3s;
}
.box2_block:hover .icon_box2 i {
  color: #ffff33;
}

.content_box2 {
  border-left: solid 1px #cccccc;
  padding-left: 30px;
}
.content_box2 .title_box2 {
  font-size: 15px;
  color: #333333;
  font-weight: 600;
  margin-bottom: 30px;
}
.content_box2 .text_box2 {
  font-size: 13px;
  color: #999999;
  line-height: 25px;
}
.box2_block:hover .icon_box2 i {
  color: #ffff33;
}
/*block-2*/

/*Block-4*/
.block4 {
  padding: 100px 0px;
}
.block4 h2 {
  font-size: 36px;
  font-family: "vidaloka_regular";
  color: #333;
  text-align: center;
  margin-bottom: 35px;
}
.block4 .text_block4 {
  text-align: center;
  font-size: 16px;
  color: #999999;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.block4 .nav-tabs {
  border-bottom: inherit;
  margin: 0 auto;
  margin-bottom: 120px;
}
.block4 .nav-tabs li {
  margin-right: 10px;
}
.block4 .nav-tabs li a:hover,
.block4 .nav-tabs li a.active {
  color: #333333;
  font-size: 14px;
  border-color: inherit;
  background-color: #ffcc00;
  border: solid 2px transparent;
}
.block4 .nav-tabs li a {
  color: #333333;
  font-size: 14px;
  border-color: inherit;
  background-color: #fff;
  border: solid 2px #ffcc00;
  padding: 10px 35px;
}
.block4 .nav-tabs .nav-link {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.galery_home {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.img_galery1 {
  max-width: 500px;
  width: 25%;
}
.img_galery {
  position: relative;
  transition: 0.3s;
}
.img_galery1 .img_galery_box1 {
  height: 900px;
}
.img_galery_box1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img_galery .hover_galery {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 80px 30px 80px 30px;
  transition: 0.3s;
}
.img_galery .hover_galery:hover {
  background: rgba(251, 221, 47, 0.8);
}
.img_galery img {
  width: 100%;
}
.galery_wrapper {
  width: 75%;
}
.img_galery2 {
  display: flex;
}
.img_galery3 {
  display: flex;
}
.title_galery {
  color: #000;
  font-size: 30px;
  padding-bottom: 20px;
  font-family: "vidaloka_regular";
  transition: 0.3s;
}
.text_galery {
  font-size: 15px;
  color: #434242;
  line-height: 19px;
  transition: 0.3s;
}
.btn_galery {
  display: block;
  font-size: 16px;
  color: #181a1f;
  text-decoration: none;
  transition: 0.3s;
  border: 2px solid #000;
  padding: 6px 15px;
  width: 156px;
  text-align: center;
  margin-top: 28px;
  transition: 0.3s;
}
.btn_galery:hover {
  text-decoration: none;
  color: #181a1f;
  opacity: 0.7;
}
.img_galery:hover .hover_galery {
  display: block;
}
/*Block-4*/
/*Block-3*/
section.block3 {
  background: url(../img/blok-3.png) no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.box3_block {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.box3_block .icon_box3 i {
  color: #ffff33;
  font-size: 50px;
  text-align: center;
  display: block;
  padding-top: 90px;
}
.box3_block .title_box3 {
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 55px;
}
.box3_block .text_box3 {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 35px;
}
.box3_block .text_box3 a {
  color: #ffff33;
  font-size: 20px;
  font-family: "vidaloka_regular";
  transition: 0.3s;
  text-decoration: inherit;
}
.box3_block .text_box3 a:hover {
  color: #ffcc00;
}
/*Block-3*/
/*Block-5*/
.block5 {
  margin-bottom: 170px;
}
.block5 h2 {
  font-size: 36px;
  font-family: "vidaloka_regular";
  color: #333;
  text-align: center;
  margin-bottom: 50px;
}
.block5 .text_block5 {
  text-align: center;
  font-size: 16px;
  color: #999999;
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.block5 .box5_block1 {
  background: #ff6666;
  margin-bottom: 30px;
}
.block5 .box5_block2 {
  background: #339966;
  margin-bottom: 30px;
}
.block5 .box5_block3 {
  background: #6633cc;
  margin-bottom: 30px;
}
.block5 .box5_block4 {
  background: #3399ff;
  margin-bottom: 30px;
}
.block5 .box5_block5 {
  background: #ffff33;
  margin-bottom: 30px;
}
.block5 .box5_block6 {
  background: #00cccc;
  margin-bottom: 30px;
}
.block5 .title_box5 {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 80px;
  font-family: "vidaloka_regular";
}
.block5 .text_box5 {
  font-size: 13px;
  color: white;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "vidaloka_regular";
  margin: 0px 25px;
}
.block5 a.btn_box5 {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  color: #ffff33;
  font-size: 20px;
  font-family: "vidaloka_regular";
  transition: 0.3s;
}
.block5 .box5_block5 .title_box5,
.block5 .box5_block5 .text_box5,
.block5 .box5_block5 a.btn_box5 {
  color: black;
}
/*Block-5*/
/*Block-6*/
.block6 {
  background: url(../img/block-6.png);
  margin-bottom: 145px;
}
#block6 h2 {
  padding-top: 130px;
  font-size: 36px;
  font-family: "vidaloka_regular";
  color: white;
  text-align: left;
  margin-bottom: 50px;
}
#block6 .text-box6 {
  font-size: 16px;
  color: white;
  text-align: left;
  padding-bottom: 130px;
  font-family: "vidaloka_regular";
}
#block6 .row {
  text-align: center;
}
#slider-baner6 img {
  min-width: 134px;
  margin-left: 55px;
  margin-bottom: 40px;
}
/*Block-6*/
/*Block-7*/
#block7 .title_box7 {
  font-size: 51px;
  color: #333333;
  text-align: center;
  font-family: "vidaloka_regular";
}
#block7 .text_box7 {
  font-size: 16px;
  color: #999999;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
  font-family: "vidaloka_regular";
}
#block7 .box7_block7 {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
#block7 .box7_block7 .info_box7 {
  border: solid 1px #cccccc;
}
.box7_block7 .img_box7 img {
  display: block;
  max-width: 350px;
  max-height: 365px;
}
#block7 .box7_block7 .title_box7 {
  font-size: 18px;
  color: #333333;
  text-align: center;
  font-family: "vidaloka_regular";
  padding-top: 15px;
}
#block7 .box7_block7 .info_box7 .network_box7 {
  font-size: 30px;
  color: #b1afaf;
  text-align: center;
  padding-bottom: 40px;
}
#block7 .box7_block7 .info_box7 .network_box7 i {
  transition: 0.3s;
  margin-right: 10px;
  width: 40px;
}
#block7 .box7_block7 .info_box7 .network_box7 i:hover {
  color: #ffff33;
}
/*Block-7*/

/*Block-8*/
#block_8 {
  background: url(../img/block-8.jpg);
  margin-top: 140px;
  width: 100%;
  text-align: center;
}
#block_8 .title_box8 {
  color: white;
  font-size: 51px;
  text-align: center;
  padding-top: 150px;
  font-family: "vidaloka_regular";
}
#block_8 .text_box8 {
  color: #999999;
  font-size: 16px;
  text-align: center;
  padding-top: 45px;
  font-family: "vidaloka_regular";
}
#block_8 .send_box8 {
  padding-top: 70px;
  margin: 0 auto;
}
#block_8 .send_box8 input {
  height: 50px;
  width: 460px;
  background: #807f7f;
  opacity: 0.6;
  border: none;
  color: white;
}
#block_8 .send_box8 .button_box8 {
  height: 50px;
  width: 140px;
  color: black;
  background: #ffff33;
  margin-left: 30px;
  border: none;
  margin-bottom: 30px;
}
#block_8 #form8 {
  display: block;
}
/*Block-8*/

/*FOOTER*/
#footer {
  background: url(../img/footer.jpg);
  width: 100%;
  left: 0;
  bottom: 0;
}
#footer .img_footer {
  text-align: center;
  padding-top: 50px;
}
#footer .text_footer {
  font-size: 16px;
  color: white;
  text-align: center;
  margin-top: 40px;
  font-family: "vidaloka_regular";
  padding-bottom: 30px;
}
#footer .text_footer a {
  color: #ffff33;
  transition: 0.3s;
}
#footer .text_footer a:hover {
  text-decoration: none;
  color: blue;
}
#footer .network_footer {
  font-size: 30px;
  color: #807f7f;
  text-align: center;
  padding-bottom: 40px;
}
#footer .network_footer i {
  transition: 0.3s;
  margin-right: 10px;
  width: 40px;
}
#footer .network_footer i:hover {
  color: #ffff33;
}
/*FOOTER*/

/*font-family: 'back_to_black_demoregular';
font-family: 'vidaloka_regular';*/
