@media (max-width: 1199px) {
  #slider-baner.owl-carousel .owl-nav .owl-next {
    bottom: 315px;
    right: 10px;
  }
  #slider-baner.owl-carousel .owl-nav .owl-prev {
    bottom: 315px;
    left: 10px;
  }
  .nav-menu ul li a {
    margin-left: 5px;
  }
  button.btn_box {
    left: 370px;
  }
  #block_1 {
    padding-top: 700px;
  }
}
@media (max-width: 991px) {
  button.btn_box {
    left: 258px;
  }
  button.btn_box1_footer {
    left: 60px;
  }
  .send_block3_box1 input {
    width: 300px;
  }
  textarea.text_block3 {
    width: 633px;
  }
}
@media (max-width: 776px) {
  #slider-baner.owl-carousel .owl-nav .owl-next {
    bottom: 315px;
    right: 10px;
  }
  #slider-baner.owl-carousel .owl-nav .owl-prev {
    bottom: 315px;
    left: 10px;
  }
  .nav-menu .navbar-toggler,
  .nav-menu .navbar-brand {
    display: block;
  }
  .nav-menu .responsive_menu {
    display: flex;
    justify-content: space-between;
  }
  .nav-menu .navbar-expand-md .navbar-toggler {
    outline: none;
  }
  .nav-menu .navbar-expand-md .navbar-toggler i {
    transition: 0.3s;
  }
  .nav-menu .navbar-expand-md .navbar-toggler i:hover {
    color: #ff3333;
  }
  .nav-menu .navbar-expand-md .navbar-brand {
    color: #ff3333;
    font-weight: 700;
    letter-spacing: 4px;
  }
  .nav-menu {
    margin: 15px 0px;
    border-bottom: inherit;
    background: rgb(255 255 255 / 70%);
    padding: 8px;
  }
  #header ul.navbar-nav li.item {
    margin: 10px 0px;
  }
  .nav-menu ul li a {
    font-weight: 700;
  }
  .nav-menu ul li.active a,
  .nav-menu ul li a:hover {
    border-bottom: inherit;
  }
  .nav-menu ul li {
    margin-right: 12px;
  }
  .nav-menu ul li a {
    color: #ff3333;
  }
  button.btn_box {
    left: 160px;
  }
  .send_block3_box1 input {
    width: 500px;
  }
  textarea.text_block3 {
    width: 500px;
  }
  button.b1 {
    left: 30px;
  }
  button.b2 {
    left: 220px;
  }
  button.b3 {
    left: 405px;
  }
  #footer .content_foot_left {
    padding-top: 100px;
    padding-bottom: 0px;
  }
  #footer .content_foot_right {
    text-align: left;
    padding-top: 0px;
    padding-bottom: 50px;
  }
}
@media (max-width: 575px) {
  #slider-baner.owl-carousel .owl-nav .owl-next {
    bottom: 315px;
    right: 10px;
  }
  #slider-baner.owl-carousel .owl-nav .owl-prev {
    bottom: 315px;
    left: 10px;
  }
  button.btn_box {
    left: 170px;
  }
  .send_block3_box1 input {
    width: 400px;
  }
  textarea.text_block3 {
    width: 400px;
  }

  #footer .content_foot_left {
    padding-top: 100px;
    padding-bottom: 0px;
  }
  #footer .content_foot_right {
    text-align: left;
    padding-top: 0px;
    padding-bottom: 50px;
  }
  button.b1 {
    left: 0px;
  }
  button.b3 {
    left: 360px;
  }
  button.b2 {
    left: 180px;
  }
}
@media (max-width: 500px) {
  button.btn_box {
    left: 135px;
  }
  .title_block1_box1 {
    padding-bottom: 30px;
  }
  .text_block1_box1 {
    font-size: 16px;
    padding-bottom: 60px;
  }
  #block_1 {
    padding-bottom: 40px;
  }
  .title_block3_box1 {
    padding-bottom: 20px;
  }

  .img_block2_box1 {
    width: 300px;
    height: 225px;
  }
  .img_block2_box1 img {
    max-width: 300px;
    min-height: 225px;
  }
  .search_block2:hover {
    width: 280px;
    height: 50px;
  }
  input.name_block2 {
    width: 220px;
  }
  .content_block2 {
    width: 300px;
    height: 100px;
  }
  .title_img_block2 {
    font-size: 20px;
  }
  .text_img_block2 {
    font-size: 16px;
  }
  .title_block3_box1 {
    font-size: 50px;
  }

  /*.send_block3_box1 input {
    width: 300px;
  }
  textarea.text_block3 {
    width: 300px;
  }*/
}
@media (max-width: 480px) {
  button.btn_box {
    left: 80px;
  }
  .send_block3_box1 input {
    width: 300px;
  }
  textarea.text_block3 {
    width: 300px;
  }
  button.b1 {
    left: 0px;
  }
  button.b2 {
    left: 128px;
  }
  button.b3 {
    left: 255px;
  }
}
