/*Стандартные параметры для страницы*/
* {
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
  position: relative;
}
.for_page {
  position: relative;
  min-height: 100%;
}
.page {
  padding-bottom: 50px;
}
.header {
  padding: 25px 5px;
  margin-bottom: 0px;
  background: #262626;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #262626;
  padding: 20px 0;
}
.conteiner {
  width: 1170px;
  margin: 0 auto;
}
/*Стандартные параметры для страницы*/
.eror-page {
  display: inline-flex;
  align-items: center;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.clock_work {
  width: 15%;
  font-family: "Bahnschrift", sans-serif;
  font-size: 15px;
  padding-left: 5px;
  color: lightgrey;
  padding-left: 43px;
}
.clock_work i {
  font-size: 19px;
  color: rgba(171, 116, 213, 1);
  padding-left: 5px;
}
.phone_main {
  width: 15%;
  font-family: "Bahnschrift", sans-serif;
  font-size: 15px;
  color: lightgrey;
}
.phone_main a {
  text-decoration: none;
  color: lightgrey;
}
.phone_main i {
  font-size: 19px;
  color: rgba(171, 116, 213, 1);
}
.adress_main {
  width: 25%;
  font-family: "Bahnschrift", sans-serif;
  font-size: 15px;
  color: lightgrey;
}
.adress_main i {
  font-size: 19px;
  color: rgba(171, 116, 213, 1);
}
.logo {
  width: 20%;
}
/*Стандартные параметры для меню*/
.nav-menu {
  width: 100%;
  background: #262626;
}
ul.menu-main li.item-menu {
  list-style: none;
  float: left;
}
ul.menu-main li.item-menu a {
  text-decoration: none;
  color: lightgrey;
  font-size: 16px;
  padding: 20px 25px;
  display: block;
  border-left: solid 1px #5a5a5a;
  font-family: "Bahnschrift", sans-serif;
  font-weight: bold;
}
ul.menu-main li.item-menu a:hover {
  color: olivedrab;
}
ul.menu-main li.item-menu:nth-child(4) {
  position: relative;
}
ul.menu-main li.item-menu:nth-child(4) ul.child-menu-item {
  position: absolute;
  background: #262626;
  width: 150px;
  display: none;
  z-index: 99;
}
ul.menu-main li.item-menu:nth-child(4):hover ul.child-menu-item {
  display: block;
}
ul.menu-main li.item-menu ul.child-menu-item li {
  float: inherit;
  border-top: solid 1px #5a5a5a;
}
ul.menu-main li.item-menu ul.child-menu-item li a {
  padding: 9px 15px;
}
/*Стандартные параметры для меню*/
.text {
  width: 50%;
}
.text h2 {
  padding: 0px 20px;
  text-align: center;
  font-size: 190px;
  color: rgb(204, 153, 102);
  text-shadow: 0 4px lightblue;
  font-family: "Bahnschrift", sans-serif;
}
.text p {
  padding: 20px 20px;
  text-align: center;
  font-size: 45px;
  color: rgb(204, 153, 102);
  font-family: "Bahnschrift", sans-serif;
}
.gif {
  background-position: center top;
}
.gif img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.eror-page div:first-child {
  order: 2;
}
.eror-page div:last-child {
  order: 1;
}
.eror-page a {
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  background: rgb(240, 209, 144);
  font-family: "Bahnschrift", sans-serif;
  color: rgb(102, 80, 52);
}
.button-home {
  position: relative;
  top: -5px;
  left: 194px;
  z-index: 99;
  display: inline-flex;
  justify-content: space-around;
  padding: 8px;
  border: 3px solid rgb(102, 80, 52);
  border-radius: 5px;
  width: 200px;
  transition: 1s;
  animation: button-home 2s infinite;
}
.button-home:hover {
  background: #9d9cd4;
}
