@charset "utf-8";
	body{
		height: 1000px;
		width: 1880px;
		background: url("img/crumpled-white-paper.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}	
	.word-box1{
		width: 50%;
		float: left;	   
	}
	.menu-box2{
		width: 50%;
		float: right;
		color:#2A56AF;	    
	}
	h2{
		text-align: center;
		color: cornflowerblue;
		text-transform: uppercase;
	}
	p{
		text-transform: lowercase;
		text-indent: 20px;
		text-align: justify;
		color: #4459D3;
	}
/* CSS Document */

