@charset "utf-8";
.box {
	background-color: #ECE2F3;
}
.red_color h2{
	color: red;
}
.green_color p{
	font-size: 16px;
	color: green;
}
.boxing h2{
	color: gray;		
}
.boxing p{
	font-size: 14px;
}

/* CSS Document */

